<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>

<script type="text/javascript">

(function(win, $) {

  var REFRESH_SECONDS = 2;

  var callback = function() {

    var url = '/exchange_rates.json';

    var onFinish = function(response) {
      console.log(response);
    };

    $.get(url, onFinish);
  };

  setInterval(callback, REFRESH_SECONDS * 1000);

})(window, jQuery);


</script>

  </body>
</html>
